@import '../../assets/css/variables';

.header__container {
  font-family: 'Yatra One', sans-serif;
  margin: 3rem 5rem;

  a {
    color: $dark-gray;

    &:hover {
      color: $link-blue;
    }
  }
}
